# 自动生成代码的配置，只能在本地修改
autocode:
  transfer-restart: true
  root: C:\gva\taylor-test-platform-server\taylor-test-platform
  server: /server
  server-api: /api/v1/%s
  server-plug: /plugin/%s
  server-initialize: /initialize
  server-model: /model/%s
  server-request: /model/%s/request/
  server-router: /router/%s
  server-service: /service/%s
  web: /web/src
  web-api: /api
  web-form: /view
  web-table: /view
# 验证码配置
captcha:
  key-long: 1
  img-width: 240
  img-height: 80
cors:
  mode: whitelist
  whitelist:
    - allow-origin: example1.com
      allow-methods: GET, POST
      allow-headers: content-type
      expose-headers: Content-Length, Access-Control-Allow-Origin, Access-Control-Allow-Headers,Content-Type
      allow-credentials: true
    - allow-origin: example2.com
      allow-methods: GET, POST
      allow-headers: content-type
      expose-headers: Content-Length, Access-Control-Allow-Origin, Access-Control-Allow-Headers,Content-Type
      allow-credentials: true
# 飞书登陆配置
fs:
  appID:
  appSecret:
  redirectUri: http://127.0.0.1:8080/api/fsLogin/login
  authorityID: 666
  projectID: 1
# token配置
jwt:
  signing-key: 6c8c168a-d00b-4929-a4cd-75ede0ad8cce
  expires-time: 604800
  buffer-time: 86400
  issuer: qmPlus
# 本地上传文件配置
local:
  path: uploads/file
  store-path: uploads/file
# 数据看配置
mysql:
  path: 127.0.0.1
  port: "3306"
  config: charset=utf8mb4&parseTime=True&loc=Local
  db-name: yangfan
  username: root
  password: 123456
  max-idle-conns: 10
  max-open-conns: 100
  log-mode: debug
  log-zap: false
# redis 配置，如开启需要把 system.use-redis 设置为 true
redis:
  db: 0
  addr: 127.0.0.1:6378
  password: "nYhjtZ2vri6KDl7Z"
system:
  env: public
  addr: 8888
  db-type: mysql
  oss-type: local
  use-multipoint: false
  use-redis: false
  iplimit-count: 15000
  iplimit-time: 3600
# 定时任务配置，删除操作记录和jwt清除
timer:
  start: true
  spec: '@daily'
  with_seconds: false
  detail:
    - tableName: sys_operation_records
      compareField: created_at
      interval: 2160h
    - tableName: jwt_blacklists
      compareField: created_at
      interval: 168h
# 日志记录，生产不建议用debug级别
zap:
  level: debug
  prefix: '[yangfan]'
  format: console
  director: log
  encode-level: LowercaseColorLevelEncoder
  stacktrace-key: stacktrace
  max-age: 30
  show-line: true
  log-in-console: true
yang-fan:
  background: "127.0.0.1"
  background-grpc-port: 7967
  master: "127.0.0.1"
  master-boomer-prot: 9093
  master-server-prot: 7966
  prometheus-pushgateway-url: http://localhost:9091/
  grafana-host: http://localhost:3000/
  grafana-dashboard: ERv3OaBPYe6A
  grafana-dashboard-name: yangfan-for-distributed-load-testing
  grafana-dashboard-stats: WLVhzvOg56Mg
  grafana-dashboard-stats-name: yangfan-for-node-status
  run-server: localhost
  run-server-grpc-port: 7968

