apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: yangfan-grafana-pvc
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs
  resources:
    requests:
      storage: 10Gi
