apiVersion: v1
kind: PersistentVolume
metadata:
  name: yangfan-grafana-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs
  hostPath:
    path: /var/lib/grafana
