apiVersion: v1
kind: Service
metadata:
  name: yangfan-prometheus
spec:
  selector:
    app: yangfan-prometheus
  type: NodePort
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 31090
      protocol: TCP