apiVersion: v1
kind: Service
metadata:
  name: yangfan-master
  namespace: yangfan
spec:
  selector:
    app: yangfan-master
  ports:
    - protocol: TCP
      port: 7966
      targetPort: 7966
      name: master-server
    - protocol: TCP
      port: 9093
      targetPort: 9093
      name: master-boomer
    - protocol: TCP
      port: 9092
      targetPort: 9092
      name: master-default