apiVersion: v1
kind: Service
metadata:
  name: yangfan-run
  namespace: yangfan
spec:
  selector:
    app: yangfan-run
  ports:
    - protocol: TCP
      port: 7968
      targetPort: 7968
      name: grpc
  type: ClusterIP