captcha:
  key-long: 1
  img-width: 240
  img-height: 80
cors:
  mode: whitelist
  whitelist:
    - allow-origin: example1.com
      allow-methods: GET, POST
      allow-headers: content-type
      expose-headers: Content-Length, Access-Control-Allow-Origin, Access-Control-Allow-Headers,Content-Type
      allow-credentials: true
    - allow-origin: example2.com
      allow-methods: GET, POST
      allow-headers: content-type
      expose-headers: Content-Length, Access-Control-Allow-Origin, Access-Control-Allow-Headers,Content-Type
      allow-credentials: true
fs:
  appID:
  appSecret:
  redirectUri: http://127.0.0.1:8080/api/fsLogin/login
  authorityID: 666
  projectID: 1
jwt:
  signing-key: 6c8c168a-d00b-4929-a4cd-75ede0ad8cce
  expires-time: 604800
  buffer-time: 86400
  issuer: qmPlus
local:
  path: uploads/file
  store-path: uploads/file
mysql:
  path: yangfan-mysql
  port: "3306"
  config: charset=utf8mb4&parseTime=True&loc=Local
  db-name: yangfan
  username: root
  password: 123456
  max-idle-conns: 10
  max-open-conns: 100
  log-mode: error
  log-zap: false
redis:
  db: 0
  addr: 127.0.0.1:6378
  password: "nYhjtZ2vri6KDl7Z"
system:
  env: public
  addr: 8888
  db-type: mysql
  oss-type: local
  use-multipoint: false
  use-redis: false
  iplimit-count: 15000
  iplimit-time: 3600
timer:
  start: true
  spec: '@daily'
  with_seconds: false
  detail:
    - tableName: sys_operation_records
      compareField: created_at
      interval: 2160h
    - tableName: jwt_blacklists
      compareField: created_at
      interval: 168h
zap:
  level: error
  prefix: '[yangfan]'
  format: console
  director: log
  encode-level: LowercaseColorLevelEncoder
  stacktrace-key: stacktrace
  max-age: 30
  show-line: true
  log-in-console: true
yang-fan:
  front: "http://localhost:8080"
  background: yangfan-server
  background-grpc-port: 7967
  master: yangfan-master
  master-boomer-prot: 9093
  master-server-prot: 7966
  prometheus-pushgateway-url: http://pushgateway:9091/
  grafana-host: http://localhost:3000/
  grafana-dashboard: ERv3OaBPYe6A
  grafana-dashboard-name: yangfan-for-distributed-load-testing
  grafana-dashboard-stats: WLVhzvOg56Mg
  grafana-dashboard-stats-name: yangfan-for-node-status
  run-server: yangfan-run
  run-server-grpc-port: 7968
