apiVersion: apps/v1
kind: Deployment
metadata:
  name: yangfan-grpcdemo
  labels:
    app: yangfan-grpcdemo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: yangfan-grpcdemo
  template:
    metadata:
      labels:
        app: yangfan-grpcdemo
    spec:
      containers:
        - name: yangfan-grpcdemo
          image: registry.cn-hangzhou.aliyuncs.com/yangfanz/grpcdemo
          ports:
            - containerPort: 7967
