services:
  server:
    image: "${REGISTRY:-yangfanz/}server${IMAGE_SUFFIX:-}:${IMAGE_TAG:-latest}"
    container_name: yangfan-server
    restart: always
    volumes:
      - ./config/docker.config.yaml:/yangfan/docker.config.yaml:rw
    ports:
      - "8888:8888"
    networks:
      - yangfan-network

  run:
    image: "${REGISTRY:-yangfanz/}run${IMAGE_SUFFIX:-}:${IMAGE_TAG:-latest}"
    container_name: yangfan-run
    restart: always
    depends_on:
      - server
    environment:
      RUN_SERVICE_MODE: runner
      NODE_NAME: runner
    volumes:
      - ./config/docker.config.yaml:/yangfan/docker.config.yaml:ro
    networks:
      - yangfan-network

  run-all:
    image: "${REGISTRY:-yangfanz/}run${IMAGE_SUFFIX:-}:${IMAGE_TAG:-latest}"
    container_name: yangfan-run-all
    restart: always
    depends_on:
      - server
    environment:
      RUN_SERVICE_MODE: all
      NODE_NAME: runner-all
    volumes:
      - ./config/docker.config.yaml:/yangfan/docker.config.yaml:ro
    networks:
      - yangfan-network

  run-timer:
    image: "${REGISTRY:-yangfanz/}run${IMAGE_SUFFIX:-}:${IMAGE_TAG:-latest}"
    container_name: yangfan-run-timer
    restart: always
    depends_on:
      - server
    environment:
      RUN_SERVICE_MODE: timer
      NODE_NAME: runner-timer
    volumes:
      - ./config/docker.config.yaml:/yangfan/docker.config.yaml:ro
    networks:
      - yangfan-network

  data:
    image: "${REGISTRY:-yangfanz/}data${IMAGE_SUFFIX:-}:${IMAGE_TAG:-latest}"
    container_name: yangfan-data
    restart: always
    volumes:
      - ./config/docker.config.yaml:/yangfan/docker.config.yaml:ro
    ports:
      - "18080:18080"

  web:
    image: "${REGISTRY:-yangfanz/}web${IMAGE_SUFFIX:-}:${IMAGE_TAG:-latest}"
    container_name: yangfan-web
    restart: always
    depends_on:
      - server
    ports:
      - "8080:8080"
    environment:
      ENV_VITE_FS_APP_ID: ${ENV_VITE_FS_APP_ID:-}
      ENV_VITE_FS_LOGIN: ${ENV_VITE_FS_LOGIN:-http://localhost:8080/api/fsLogin/login}
    volumes:
      - ./config/my.conf:/etc/nginx/conf.d/my.conf:ro
    networks:
      - yangfan-network

networks:
  yangfan-network:
    name: yangfan-network
    driver: bridge
