name: CI

on:
  push:
    branches:
      - main
      - dev
      - v2
    tags:
      - '*'

env:
  REGISTRY: yangfanz/
  ALIYUN_REGISTRY: registry.cn-hangzhou.aliyuncs.com/yangfanz/
  IMAGE_NAME_SERVER: server
  IMAGE_NAME_WEB: web
  IMAGE_NAME_RUN: run
  IMAGE_NAME_DATA: data
  IMAGE_NAME_DOC: doc
  IMAGE_TAG: v2.${{ github.run_number }}

jobs:
  server:
    name: Building a server image
    runs-on: ubuntu-latest
    steps:
      - name: Determine image_tag and image_suffix
        id: determine
        run: |
          ref="${{ github.ref }}"
          if [[ "${{ github.event_name }}" == "push" && "$ref" =~ ^refs/tags/.* ]]; then
            tag_name="${ref#refs/tags/}"
            image_tag="$tag_name"
            image_suffix=''
            if [[ "$tag_name" == "debug" ]]; then
              push_latest='false'
            else
              push_latest='true'
            fi
          else
            branch="${ref#refs/heads/}"
            if [[ "$branch" == "main" || "$branch" == "dev" || "$branch" == "v2" ]]; then
              image_tag='debug'
              image_suffix=''
              push_latest='false'
            else
              image_tag="${{ env.IMAGE_TAG }}"
              image_suffix='-debug'
              push_latest='true'
            fi
          fi
          echo "image_tag=${image_tag}" >> $GITHUB_OUTPUT
          echo "image_suffix=${image_suffix}" >> $GITHUB_OUTPUT
          echo "push_latest=${push_latest}" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v3
      - name: Login to Docker Container Registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Build and push Docker image
        run: |
          docker build -t server -f server/Dockerfile .
          docker tag server ${{ env.REGISTRY }}${{ env.IMAGE_NAME_SERVER }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          docker push ${{ env.REGISTRY }}${{ env.IMAGE_NAME_SERVER }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          if [[ "${{ steps.determine.outputs.push_latest }}" == "true" ]]; then
            docker tag server ${{ env.REGISTRY }}${{ env.IMAGE_NAME_SERVER }}${{ steps.determine.outputs.image_suffix }}:latest
            docker push ${{ env.REGISTRY }}${{ env.IMAGE_NAME_SERVER }}${{ steps.determine.outputs.image_suffix }}:latest
          fi

      - name: Login to Aliyun Container Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_SERVER }}
          username: ${{ secrets.ALIYUN_REGISTRY_USERNAME }}
          password: ${{ secrets.ALIYUN_REGISTRY_PASSWORD }}
      - name: Push to Aliyun Docker image
        run: |
          docker tag server ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_SERVER }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          docker push ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_SERVER }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          if [[ "${{ steps.determine.outputs.push_latest }}" == "true" ]]; then
            docker tag server ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_SERVER }}${{ steps.determine.outputs.image_suffix }}:latest
            docker push ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_SERVER }}${{ steps.determine.outputs.image_suffix }}:latest
          fi

  run:
    name: Building a run image
    runs-on: ubuntu-latest
    steps:
      - name: Determine image_tag and image_suffix
        id: determine
        run: |
          ref="${{ github.ref }}"
          if [[ "${{ github.event_name }}" == "push" && "$ref" =~ ^refs/tags/.* ]]; then
            tag_name="${ref#refs/tags/}"
            image_tag="$tag_name"
            image_suffix=''
            if [[ "$tag_name" == "debug" ]]; then
              push_latest='false'
            else
              push_latest='true'
            fi
          else
            branch="${ref#refs/heads/}"
            if [[ "$branch" == "main" || "$branch" == "dev" || "$branch" == "v2" ]]; then
              image_tag='debug'
              image_suffix=''
              push_latest='false'
            else
              image_tag="${{ env.IMAGE_TAG }}"
              image_suffix='-debug'
              push_latest='true'
            fi
          fi
          echo "image_tag=${image_tag}" >> $GITHUB_OUTPUT
          echo "image_suffix=${image_suffix}" >> $GITHUB_OUTPUT
          echo "push_latest=${push_latest}" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v3
      - name: Login to Docker Container Registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Build and push Docker image
        run: |
          docker build -t run -f run/Dockerfile .
          docker tag run ${{ env.REGISTRY }}${{ env.IMAGE_NAME_RUN }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          docker push ${{ env.REGISTRY }}${{ env.IMAGE_NAME_RUN }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          if [[ "${{ steps.determine.outputs.push_latest }}" == "true" ]]; then
            docker tag run ${{ env.REGISTRY }}${{ env.IMAGE_NAME_RUN }}${{ steps.determine.outputs.image_suffix }}:latest
            docker push ${{ env.REGISTRY }}${{ env.IMAGE_NAME_RUN }}${{ steps.determine.outputs.image_suffix }}:latest
          fi
      - name: Login to Aliyun Container Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_RUN }}
          username: ${{ secrets.ALIYUN_REGISTRY_USERNAME }}
          password: ${{ secrets.ALIYUN_REGISTRY_PASSWORD }}
      - name: Push to Aliyun Docker image
        run: |
          docker tag run ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_RUN }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          docker push ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_RUN }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          if [[ "${{ steps.determine.outputs.push_latest }}" == "true" ]]; then
            docker tag run ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_RUN }}${{ steps.determine.outputs.image_suffix }}:latest
            docker push ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_RUN }}${{ steps.determine.outputs.image_suffix }}:latest
          fi

  data:
    name: Building a data image
    runs-on: ubuntu-latest
    steps:
      - name: Determine image_tag and image_suffix
        id: determine
        run: |
          ref="${{ github.ref }}"
          if [[ "${{ github.event_name }}" == "push" && "$ref" =~ ^refs/tags/.* ]]; then
            tag_name="${ref#refs/tags/}"
            image_tag="$tag_name"
            image_suffix=''
            if [[ "$tag_name" == "debug" ]]; then
              push_latest='false'
            else
              push_latest='true'
            fi
          else
            branch="${ref#refs/heads/}"
            if [[ "$branch" == "main" || "$branch" == "dev" || "$branch" == "v2" ]]; then
              image_tag='debug'
              image_suffix=''
              push_latest='false'
            else
              image_tag="${{ env.IMAGE_TAG }}"
              image_suffix='-debug'
              push_latest='true'
            fi
          fi
          echo "image_tag=${image_tag}" >> $GITHUB_OUTPUT
          echo "image_suffix=${image_suffix}" >> $GITHUB_OUTPUT
          echo "push_latest=${push_latest}" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v3
      - name: Login to Docker Container Registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Build and push Docker image
        run: |
          docker build -t data -f data/Dockerfile .
          docker tag data ${{ env.REGISTRY }}${{ env.IMAGE_NAME_DATA }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          docker push ${{ env.REGISTRY }}${{ env.IMAGE_NAME_DATA }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          if [[ "${{ steps.determine.outputs.push_latest }}" == "true" ]]; then
            docker tag data ${{ env.REGISTRY }}${{ env.IMAGE_NAME_DATA }}${{ steps.determine.outputs.image_suffix }}:latest
            docker push ${{ env.REGISTRY }}${{ env.IMAGE_NAME_DATA }}${{ steps.determine.outputs.image_suffix }}:latest
          fi
      - name: Login to Aliyun Container Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_DATA }}
          username: ${{ secrets.ALIYUN_REGISTRY_USERNAME }}
          password: ${{ secrets.ALIYUN_REGISTRY_PASSWORD }}
      - name: Push to Aliyun Docker image
        run: |
          docker tag data ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_DATA }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          docker push ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_DATA }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          if [[ "${{ steps.determine.outputs.push_latest }}" == "true" ]]; then
            docker tag data ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_DATA }}${{ steps.determine.outputs.image_suffix }}:latest
            docker push ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_DATA }}${{ steps.determine.outputs.image_suffix }}:latest
          fi

  web:
    name: Building a web image
    runs-on: ubuntu-latest
    steps:
      - name: Determine image_tag and image_suffix
        id: determine
        run: |
          ref="${{ github.ref }}"
          if [[ "${{ github.event_name }}" == "push" && "$ref" =~ ^refs/tags/.* ]]; then
            tag_name="${ref#refs/tags/}"
            image_tag="$tag_name"
            image_suffix=''
            if [[ "$tag_name" == "debug" ]]; then
              push_latest='false'
            else
              push_latest='true'
            fi
          else
            branch="${ref#refs/heads/}"
            if [[ "$branch" == "main" || "$branch" == "dev" || "$branch" == "v2" ]]; then
              image_tag='debug'
              image_suffix=''
              push_latest='false'
            else
              image_tag="${{ env.IMAGE_TAG }}"
              image_suffix='-debug'
              push_latest='true'
            fi
          fi
          echo "image_tag=${image_tag}" >> $GITHUB_OUTPUT
          echo "image_suffix=${image_suffix}" >> $GITHUB_OUTPUT
          echo "push_latest=${push_latest}" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v3
      - name: Login to Docker Container Registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Build and push Docker image
        run: |
          docker build -t web -f ./web/Dockerfile ./web
          docker tag web ${{ env.REGISTRY }}${{ env.IMAGE_NAME_WEB }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          docker push ${{ env.REGISTRY }}${{ env.IMAGE_NAME_WEB }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          if [[ "${{ steps.determine.outputs.push_latest }}" == "true" ]]; then
            docker tag web ${{ env.REGISTRY }}${{ env.IMAGE_NAME_WEB }}${{ steps.determine.outputs.image_suffix }}:latest
            docker push ${{ env.REGISTRY }}${{ env.IMAGE_NAME_WEB }}${{ steps.determine.outputs.image_suffix }}:latest
          fi
      - name: Login to Aliyun Container Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_WEB }}
          username: ${{ secrets.ALIYUN_REGISTRY_USERNAME }}
          password: ${{ secrets.ALIYUN_REGISTRY_PASSWORD }}
      - name: Push to Aliyun Docker image
        run: |
          docker tag web ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_WEB }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          docker push ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_WEB }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          if [[ "${{ steps.determine.outputs.push_latest }}" == "true" ]]; then
            docker tag web ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_WEB }}${{ steps.determine.outputs.image_suffix }}:latest
            docker push ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_WEB }}${{ steps.determine.outputs.image_suffix }}:latest
          fi

  doc:
    name: Building a doc image
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Determine image_tag and image_suffix
        id: determine
        run: |
          ref="${{ github.ref }}"
          if [[ "${{ github.event_name }}" == "push" && "$ref" =~ ^refs/tags/.* ]]; then
            tag_name="${ref#refs/tags/}"
            image_tag="$tag_name"
            image_suffix=''
            if [[ "$tag_name" == "debug" ]]; then
              push_latest='false'
            else
              push_latest='true'
            fi
          else
            branch="${ref#refs/heads/}"
            if [[ "$branch" == "main" || "$branch" == "dev" || "$branch" == "v2" ]]; then
              image_tag='debug'
              image_suffix=''
              push_latest='false'
            else
              image_tag="${{ env.IMAGE_TAG }}"
              image_suffix='-debug'
              push_latest='true'
            fi
          fi
          echo "image_tag=${image_tag}" >> $GITHUB_OUTPUT
          echo "image_suffix=${image_suffix}" >> $GITHUB_OUTPUT
          echo "push_latest=${push_latest}" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v3
      - name: Login to Docker Container Registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Build and push Docker image
        run: |
          docker build -t doc -f ./doc/Dockerfile ./doc
          docker tag doc ${{ env.REGISTRY }}${{ env.IMAGE_NAME_DOC }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          docker push ${{ env.REGISTRY }}${{ env.IMAGE_NAME_DOC }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          if [[ "${{ steps.determine.outputs.push_latest }}" == "true" ]]; then
            docker tag doc ${{ env.REGISTRY }}${{ env.IMAGE_NAME_DOC }}${{ steps.determine.outputs.image_suffix }}:latest
            docker push ${{ env.REGISTRY }}${{ env.IMAGE_NAME_DOC }}${{ steps.determine.outputs.image_suffix }}:latest
          fi
      - name: Login to Aliyun Container Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_DOC }}
          username: ${{ secrets.ALIYUN_REGISTRY_USERNAME }}
          password: ${{ secrets.ALIYUN_REGISTRY_PASSWORD }}
      - name: Push to Aliyun Docker image
        run: |
          docker tag doc ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_DOC }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          docker push ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_DOC }}${{ steps.determine.outputs.image_suffix }}:${{ steps.determine.outputs.image_tag }}
          if [[ "${{ steps.determine.outputs.push_latest }}" == "true" ]]; then
            docker tag doc ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_DOC }}${{ steps.determine.outputs.image_suffix }}:latest
            docker push ${{ env.ALIYUN_REGISTRY }}${{ env.IMAGE_NAME_DOC }}${{ steps.determine.outputs.image_suffix }}:latest
          fi
